.board {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid black;
    gap: 4px;
    padding: 2px;
    background-color: rgb(19, 92, 39);
  }
  
  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    border: 1px solid rgb(46, 46, 46);
    background: rgb(22, 161, 55);
    cursor: pointer;
  }